<footer class="footer">
    <div class="b-footer">
        <div class="b-footer__info">
            <div class="b-footer-info">
                <div class="b-footer-info__links">
                    <div class="b-footer-links">
                        <ul class="b-footer-links__list">
                            <li class="b-footer-links__link">
                                <a href="/about/">О компании</a>
                            </li>
                            <li class="b-footer-links__link">
                                <a href="https://inna.ru/proxy/wp.me/p3J7R4-24">Новости</a>
                            </li>
                            <li class="b-footer-links__link">
                                <a href="https://inna.ru/proxy/www.inna.ru/corporate/">Корпоративным
                                    клиентам</a>
                            </li>
                            <li class="b-footer-links__link">
                                <a href="/contacts/">Контакты</a>
                            </li>
                            <li class="b-footer-links__link">
                                <a href="https://inna.ru/proxy/book.inna.ru/">Агентствам</a>
                            </li>
                            <li class="b-footer-links__link">
                                <a href="https://inna.ru/proxy/www.inna.ru/catalog/guide/">Каталог
                                    стран</a>
                            </li>
                            <li class="b-footer-links__link">
                                <a href="https://inna.ru/proxy/www.inna.ru/client/abc/">Полезная
                                    информация</a>
                            </li>
                            <li class="b-footer-links__link">
                                <a href="https://inna.ru/proxy/www.inna.ru/catalog/guide/">Старый
                                    сайт</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="b-footer-info__right">
                    <div class="b-social-and-phone">
                        <div class="b-social-and-phone__social">
                            <div class="b-footer-social">
                                <ul class="b-footer-social__list">
                                    <li class="b-footer-social__link">
                                        <a href="https://vk.com/innatour_official" target="_blank" data-label='vkontakte'>
                                            <i class="social-icon social-icon__vkontakte"></i>
                                        </a>
                                    </li>
                                    <li class="b-footer-social__link">
                                        <a href="https://odnoklassniki.ru/innatour" target="_blank" data-label='odnoklassniki'>
                                            <i class="social-icon social-icon__odnoklassniki"></i>
                                        </a>
                                    </li>
                                    <li class="b-footer-social__link">
                                        <a href="https://www.facebook.com/INNATOURCOMPANY" target="_blank" data-label='facebook'>
                                            <i class="social-icon social-icon__facebook"></i>
                                        </a>
                                    </li>
                                    <li class="b-footer-social__link">
                                        <a href="https://twitter.com/inna_tour" target="_blank" data-label='twitter'>
                                            <i class="social-icon social-icon__twitter"></i>
                                        </a>
                                    </li>
                                    <li class="b-footer-social__link">
                                        <a href="https://www.pinterest.com/innatour/" target="_blank" data-label='pinterest'>
                                            <i class="social-icon social-icon__pinterest"></i>
                                        </a>
                                    </li>
                                    <li class="b-footer-social__link">
                                        <a href="https://www.youtube.com/user/InnaTourMos/featured" target="_blank" data-lable='youtube'>
                                            <i class="social-icon social-icon__youtube"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="b-social-and-phone__phone">
                            <div class="b-footer-phone">
                                <div class="b-footer-phone__text">
                                    многоканальный телефон
                                </div>
                                <div class="b-footer-phone__phone">
                                    +7&nbsp;495 742-1212
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-footer__company">
            <div class="b-comp-info">
                <div class="b-comp-info__text">
                    ИННА ТУР (INNA TOUR) — многопрофильный туроператор, оказывающий полный комплекс
                    туристических услуг.
                    Туры в Великобританию, Францию, Италию, Швейцарию, Барбадос, Вьетнам, Доминикану,
                    Индонезию,
                    Камбоджу, Кубу, Мексику, Тайланд, Филиппины, Ямайку, ОАЭ и др. - всего более 40
                    направлений по всему миру.
                </div>
                <div class="b-comp-info__copyright">
                    <div>&copy;&nbsp;1992&ndash;2014 &laquo;ИННА ТУР&raquo;, все права защищены.</div>
                    <div>Реестр туроператоров&nbsp;
                        <a href="https://inna.ru/proxy/reestr.russiatourism.ru/?ac=view&id_reestr=8893" target="_blank">МТ3 008557</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-footer__votes">
            <div class="b-trip-votes">
                <div class="b-trip-votes__votes">
                    Теперь с отзывами об отелях от
                </div>
                <div class="b-trip-votes__logo">
                </div>
            </div>
        </div>
    </div>
</footer>