.OffersSlider
  = image_tag @page.image.large, class: "OffersSlider__img"
  .OffersSlider__content
    .content__main-slogan
      .main-slogan__country-name
        = @page.title
      .main-slogan__tittle
        = @page.slogan_1
      .main-slogan__description
        = @page.slogan_2
    .content__slogan
      .content__slogan-title
        | ПРЕИМУЩЕСТВА ОТДЫХА С ИННА ТУР
      .content__slogan-container
        .slogan
          .slogan__tittle
            | Выгода
          .slogan__description
            | Экономия до 30 % за счет
            br
            | специальных пакетных цен
            br
            | Страховка в подарок
        .slogan
          .slogan__tittle
            | Свобода
          .slogan__description
            | 200 стран 670 000 отелей 
            br
            | 500 авиакомпаний
            br
            | Сам себе турагент
        .slogan
          .slogan__tittle
            | Надежность
          .slogan__description
            | Перелет на регулярных рейсах.
            br
            | Моментальная оплата поставщикам
            br
            | Гарантия поездки