<header class="container__Header">
    <div class="Header">

        <div class="Header__logo">
            <a class="Logo"
               href="/vendor/assets/stylesheets"></a>
        </div>


        <div class="Header__nav-container">
            <div class="nav">
                <div class=""
                     role="navigation">
                    <div class="b-nav"
                         role="navigation">
                        <a class="b-nav__link"
                           href="/about">О компании</a>
                        <a class="b-nav__link"
                           href="/contact">Контакты</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="Header__info-container">
            <div class="info">

                <div class="info__logo">
                    <a class="Logo"
                       href="/vendor/assets/stylesheets"></a>
                </div>

                <div class="info_tel-login">
                    <div class="tel">
                        <span class="tel__icon icon-emb-phone"></span>
                        <div class="tel__number-time">
                            <div class="number">+7 495 742-1212</div>
                            <div class="time">круглосуточно</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>