header.container__Header
  .Header
    .Header__logo
      a.Logo href="/"
    .Header__nav-container
      .nav
        div role="navigation"
          .b-nav role="navigation"
            a.b-nav__link href="//inna.ru/#/about/"  О компании
            a.b-nav__link href="//inna.ru/#/contacts/"  Контакты
    .Header__info-container
      .info
        .info__logo
          a.Logo href="/"
        .info_tel-login
          .tel
            span.tel__icon.icon-emb-phone
            .tel__number-time
              .number +7 495 742-1212
              .time круглосуточно
