<div class='LandingNav__container'>
    <div class='LandingNav'>
        <div class='LandingNavMenu'>
            <a class='LandingNavMenu__Item LandingNavMenu__Item-active' href="#">
                Таиланд
            </a>
            <a class='LandingNavMenu__Item' href="#">
                Пхукет
            </a>
            <a class='LandingNavMenu__Item' href="#">
                Самуи
            </a>
            <a class='LandingNavMenu__Item' href="#">
                Паттайя
            </a>
            <a class='LandingNavMenu__Item' href="#">
                Бангкок
            </a>
        </div>
    </div>
</div>