@import 'variables';
/*
 * Base styles
 * ========================================================================== */

html {
    font-family:            $font-family-base;
    font-size:              $font-size-base;
    line-height:            $line-height-base;
    color:                  $base-text-color;
    -webkit-font-smoothing: subpixel-antialiased;
}
html,
body,
#app,
.AppContainer {
    width:      100%;
    min-height: 100%;
}
.AppContainer {
    display:         flex;
    flex-direction:  column;
    justify-content: space-between;
}
* {
    box-sizing: border-box;
}
a {
    color:           $link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
h1 {
    margin:    1.2rem 0;
    font-size: 1.5rem;
}
h2 {
    margin:    1rem 0;
    font-size: 1.25rem;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    text-shadow: none;
    background:  #b3d4fc;
}
::selection {
    text-shadow: none;
    background:  #b3d4fc;
}
/*
 * A better looking default horizontal rule
 */

hr {
    display:    block;
    height:     1px;
    padding:    0;
    margin:     1em 0;
    border:     0;
    border-top: 1px solid #ccc;
}
/*
 * Global classes
 * ========================================================================== */

.g-hidden {
    display: none;
}
@media (max-width: $mobile-max-width) {
    html {
        color: $base-text-color-mobile;
    }
}
