html,
body {

}
.Landing {
    width:      100%;
    //padding-bottom: 200px;
    background: #F1F1F1;
}
.Landing__Header {
    position: relative;
    margin:   0 0 5px;
}
.container__Header {
    position: absolute;
    left:     0;
    top:      0;
    right:    0;
    z-index:  4;
}
// begin LandingNav
.LandingNav__container {
    background-color: #fff;
}
.LandingNav {
    max-width: $layout-max-width;
    margin:    0 auto;
    padding:   0 15px;
}
.LandingNavMenu {
    display: flex;
}
.LandingNavMenu__Item {
    display:         block;
    padding:         10px 15px;
    font-size:       1rem;
    color:           #757575;
    text-decoration: none;
    border-left:     1px solid #F1F1F1;
    transition:      all .2s ease-out .01s;

    &:hover {
        background: rgba(117, 117, 117, 0.05);
    }
}
.LandingNavMenu__Item-active {
    background: rgba(117, 117, 117, 0.10);
}
// end LandingNav

// begin Landing__Content
.Landing__ContentContainer {
    max-width: $layout-max-width;
    margin:    0 auto;
    padding:   0 15px;
}
.Landing__Content {
    margin:           5px 0 20px;
    padding:          20px;
    background-color: #fff;

    &:last-child {
        margin-bottom: 0;
    }
}
.Landing__ContentHead {
    display:         flex;
    justify-content: space-between;
    align-items:     center;

    margin:          0 0 15px;
}
.Landing__ContentTitle {
    margin:      0;
    font-size:   22px;
    font-weight: normal;
}
.Landing__ContentTextContainer {
    margin: 0 0 30px;
    //display:         flex;
    //justify-content: space-between;
}
.Landing__ContentText {
    @extend .clearfix;
    //flex: 1;
}
.Landing__ContentImages {
    @extend .clearfix;
    float:     right;
    //flex:        1;
    max-width: 400px;
    margin:    0 0 20px 40px;
    font-size: 0;
    //display:   flex;
    //flex-wrap: wrap;
}
.Landing__ContentImage {
    display:        block;
    overflow:       hidden;
    vertical-align: top;
    box-shadow:     0 0 0 2px #fff;

    img {
        vertical-align: top;
        max-height:     100%;
        max-width:      100%;
    }

    &:nth-child(1n) {
        width: 100%;
        float: left;
    }
    &:nth-child(2n) {
        width: 37.5%;
        float: right;
    }
    &:nth-child(3n) {
        width: 37.5%;
        float: right;
    }
}
// end Landing__Content

.LandingBreadcrumbs {
    margin:    0 0 10px;
    font-size: .85rem;
}
.NoVisa {
    display:       flex;

    padding:       5px;
    border:        1px solid $green;
    border-radius: $base-border-radius;
}
.NoVisa__Icon {
    width:            16px;
    height:           15px;
    margin-right:     10px;
    background-image: asset_data_url("svg-icons/icon-visa.svg");
}
.NoVisa__Text {
    font-size: .8rem;
    color:     $green;
}
.LandingTitleH2 {
    position:        relative;
    margin:          0 0 15px;
    text-align:      center;
    font-size:       1rem;
    font-weight:     500;
    white-space:     nowrap;

    display:         flex;
    justify-content: space-between;
    align-items:     center;

    &:before,
    &:after {
        content:          '';
        display:          block;
        height:           1px;
        background-color: $gray-landing;

        flex:             1;
    }
}
.LandingTitleH2__inset {
    margin: 0 8px;
}
//LandingTour
.LandingTours {
    display:         flex;
    justify-content: space-between;
    flex-wrap:       wrap;
    align-items:     center;

    margin:          0 -2px;
}
.LandingTour {
    display:         flex;
    justify-content: space-between;
    align-items:     center;

    width:           calc(50% - 4px);
    margin:          2px;
    padding:         8px;
    border-radius:   $base-border-radius;
    border:          1px solid $gray-landing;
    color:           $black-landing;
    text-decoration: none;
    transition:      all .1s ease-out;

    &:hover {
        text-decoration:  none;
        background-color: $green;
        color:            $white;

        .LandingTour__right {
            border-color: $white;
        }
    }
}
.LandingTour__title {
    font-size:  .8rem;
    text-align: center;
}
.LandingTour__data {
    font-size:  1rem;
    text-align: center;
}
.LandingTour__count {
    font-size:  .8rem;
    text-align: center;
}
.LandingTour__price {
    font-size:   1.4rem;
    text-align:  center;
    font-weight: 500;
}
.LandingTour__pricelabel {
    margin-right: 5px;
    font-size:    .9rem;
    font-weight:  400;
}
.LandingTour__priceUnit {
    font-size:   1.2rem;
    font-weight: 400;
}
.LandingTour__left {
    padding: 8px;
}
.LandingTour__right {
    padding:     8px 8px 8px 35px;
    border-left: 1px solid $gray-landing;
}
.LandingTours__Head {
    margin: 0 0 15px;
}
.LandingTours__Label {
    font-size:      .8rem;
    color:          $gray-landing-2;
    vertical-align: middle;
}
.LandingTours__LabelImg {
    margin:         0 6px;
    vertical-align: middle;
}
.LandingTours__LabelPlus {
    display:        inline-block;
    font-size:      1rem;
    vertical-align: middle;
}































