.Landing {
    width:      100%;
    background: #F1F1F1;
}
.Landing__Header {
    position: relative;
    margin:   0 0 5px;
}
.container__Header {
    position: absolute;
    left:     0;
    top:      0;
    right:    0;
    z-index:  4;
}
// begin LandingNav
.LandingNav__container {
    background-color: #fff;
}
.LandingNav {
    max-width: $layout-max-width;
    margin:    0 auto;
    padding:   0 15px;
}
.LandingNavMenu {
    display: flex;
}
.LandingNavMenu__Item {
    display:         block;
    padding:         10px 15px;
    font-family:     Roboto-Regular;
    font-size:       1rem;
    color:           #757575;
    text-decoration: none;
    border-left:     1px solid #F1F1F1;
    transition:      all .2s ease-out .01s;

    &:hover {
        background: rgba(117, 117, 117, 0.05);
    }
}
.LandingNavMenu__Item-active {
    background: rgba(117, 117, 117, 0.10);
}
// end LandingNav

// begin Landing__Content
.Landing__ContentContainer {
    max-width: $layout-max-width;
    margin:    0 auto;
    padding:   0 15px;
}
.Landing__Content {
    margin:           5px 0 20px;
    padding:          20px;
    background-color: #fff;
}
.Landing__ContentTitle {
    margin:      0 0 15px;
    font-family: Roboto-Regular;
    font-size:   22px;
    font-weight: normal;
}
// end Landing__Content