html,
body {

}
.Landing {
    width:          100%;
    padding-bottom: 200px;
    background:     #F1F1F1;
}
.Landing__Header {
    position: relative;
    margin:   0 0 5px;
}
.container__Header {
    position: absolute;
    left:     0;
    top:      0;
    right:    0;
    z-index:  4;
}
// begin LandingNav
.LandingNav__container {
    background-color: #fff;
}
.LandingNav {
    max-width: $layout-max-width;
    margin:    0 auto;
    padding:   0 15px;
}
.LandingNavMenu {
    display: flex;
}
.LandingNavMenu__Item {
    display:         block;
    padding:         10px 15px;
    font-size:       1rem;
    color:           #757575;
    text-decoration: none;
    border-left:     1px solid #F1F1F1;
    transition:      all .2s ease-out .01s;

    &:hover {
        background: rgba(117, 117, 117, 0.05);
    }
}
.LandingNavMenu__Item-active {
    background: rgba(117, 117, 117, 0.10);
}
// end LandingNav

// begin Landing__Content
.Landing__ContentContainer {
    max-width: $layout-max-width;
    margin:    0 auto;
    padding:   0 15px;
}
.Landing__Content {
    margin:           5px 0 20px;
    padding:          20px;
    background-color: #fff;
}
.Landing__ContentTitle {
    margin:      0 0 15px;
    font-size:   22px;
    font-weight: normal;
}
.Landing__ContentTextContainer {

    //display:         flex;
    //justify-content: space-between;
}
.Landing__ContentText {
    @extend .clearfix;
    //flex: 1;
}
.Landing__ContentImages {
    @extend .clearfix;
    float:     right;
    //flex:        1;
    max-width: 400px;
    margin:    0 0 20px 40px;
    font-size: 0;
    //display:   flex;
    //flex-wrap: wrap;
}
.Landing__ContentImage {
    display:        block;
    overflow:       hidden;
    vertical-align: top;
    box-shadow: 0 0 0 2px #fff;

    img {
        vertical-align: top;
        max-height:     100%;
        max-width:      100%;
    }

    &:nth-child(1n) {
        width: 62.5%;
        float: left;
    }
    &:nth-child(2n) {
        width: 37.5%;
        float: right;
    }
    &:nth-child(3n) {
        width: 37.5%;
        float: right;
    }
}
// end Landing__Content

.LandingBreadcrumbs {
    margin:    0 0 10px;
    font-size: .85rem;
}