
.icon-emb-flight:before { content: '\e800'; } /* '' */
.icon-emb-flight-1:before { content: '\e801'; } /* '' */
.icon-emb-right-small:before { content: '\e802'; } /* '' */
.icon-emb-star:before { content: '\e803'; } /* '' */
.icon-emb-star-half-alt:before { content: '\e804'; } /* '' */
.icon-emb-rouble:before { content: '\e805'; } /* '' */
.icon-emb-cancel:before { content: '\e806'; } /* '' */
.icon-emb-menu:before { content: '\e807'; } /* '' */
.icon-emb-filter:before { content: '\e808'; } /* '' */
.icon-emb-left-open:before { content: '\e809'; } /* '' */
.icon-emb-calendar:before { content: '\e80a'; } /* '' */
.icon-emb-angle-left:before { content: '\e80b'; } /* '' */
.icon-emb-angle-right:before { content: '\e80c'; } /* '' */
.icon-emb-angle-down:before { content: '\e80d'; } /* '' */
.icon-emb-angle-up:before { content: '\e80e'; } /* '' */
.icon-emb-ok:before { content: '\e80f'; } /* '' */
.icon-emb-attention:before { content: '\e810'; } /* '' */
.icon-emb-suitcase:before { content: '\e811'; } /* '' */
.icon-emb-search:before { content: '\e812'; } /* '' */
.icon-emb-phone:before { content: '\e813'; } /* '' */