<div class="OffersSlider">
    <img class="OffersSlider__img" src="https://s.inna.ru/Files/Photos/160713133108/160718152704/p_O.jpg"/>
    <div class="OffersSlider__content">
        <div class="content__main-slogan">
            <div class="main-slogan__country-name">
                Отдых в Таиланде
            </div>
            <div class="main-slogan__tittle">
                Лучшие предложения
            </div>
            <div class="main-slogan__description">

            </div>
        </div>
        <div class="content__slogan">
            <div class='content__slogan-title'>
                ПРЕИМУЩЕСТВА ОТДЫХА С ИННА ТУР
            </div>
            <div class="content__slogan-container">
                <div class="slogan">
                    <div class="slogan__tittle">
                        Выгода
                    </div>
                    <div class="slogan__description">
                        Экономия до 30 % за счет
                        <br>
                        специальных пакетных цен
                        <br>
                        Страховка в подарок
                    </div>
                </div>
                <div class="slogan">
                    <div class="slogan__tittle">
                        Свобода
                    </div>
                    <div class="slogan__description">
                        200 стран 670 000 отелей 
                        <br>
                        500 авиакомпаний
                        <br>
                        Сам себе турагент
                    </div>
                </div>
                <div class="slogan">
                    <div class="slogan__tittle">
                        Надежность
                    </div>
                    <div class="slogan__description">
                        Перелет на регулярных рейсах.
                        <br>
                        Моментальная оплата поставщикам
                        <br>
                        Гарантия поездки
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>